html { box-sizing: border-box;}
body {
    background-size: cover;
    background-color: gray;
    margin: 0;
}
header {
    background-color: white;
    background-size: cover;
    
}
.menu {
    height: 150px;
    width: 100%;
    display: flex;
}
.menu ul {
    font: 20px;
    color: black;
    float: right;
    align-self: flex-end;
}
a {
    padding: 10px;
    text-align: center;
}
a:hover{
    background-color: green;
    color: black;
}


   

